html,
body{
	min-width: 1122px;
	min-height: 1750px;
	margin:0;
	padding:0;
}

body{
	 
	background-size: 1122px auto;
}

.white-background{
	background: url("../img/content-background.jpg");
}

.main-header{
	margin-bottom:60px;
}


.container{
	width: 940px;
	padding:0 10px;
	margin:0 auto;
}

.main-navigation
{
	width: 780px;
	float:left;
	
}

.main-navigation li
{
	display:inline-block;
}

.user-block{
	width: 140px;
	float:right;
}

.clearfix::after{
	content: "";
	display:table;
	clear:both;
}

.logo{
	height:204px;
	width:368px;
	margin-left: auto;
	margin-right:auto;
	margin-bottom:25px;
}

.features-item{
	float:left;
	width:300px;
	margin-right:20px;
}
.features-item:last-child{
	margin-right:0px;
}

.features{
	margin-bottom:80px;
}
.left-side{
	float:left;
	width:380px;
}
.right-side{
	float:right;
	width:300px;
}

.content-block{
	padding:50px 80px;
	margin-bottom:35px;
}

.main-footer{
	margin-top:65px;
	padding-top: 60px;
	padding-bottom:40px;

}

.contact{
	float:left;
	width:320px;
	margin-right:60px;

}

.social{
	float:left;
	width:180px;

}

.copyright{
	float:right;
	width:160px;

}

.item-name{
	margin-bottom:30px;
}

.content-block-item{

}

.left-side-item{
	float:left;
	width:480px;
}
.right-side-item{
	float:right;
	width:410px;
}

.existing-item{
	margin-bottom: 40px;
}

.text-exist{
	float:left;
}

.articul{
	float:right;
}

.description-item{
	margin-bottom: 40px;
}

.bread-crumbs li{
	display: inline-block;
}

.price-item{
	margin-bottom: 65px;

}

.price{
	float:left;
}

.btn{
	float:left;
}

.title-consist{
	margin-bottom:35px;
}

.left-side-item img
{
	margin-right: 5px;
}

.left-side-item img:last-child {
	margin-right: 0px;
}

.left-side-price{
	float:left;
	width: 400px;
}

.right-side-price{
	float:right;
	width: 480px;
}

.price-name{
	margin-bottom: 70px;
}

.title-block{
	margin-bottom: 40px;
}

.list-item{
	margin-bottom: 70px;
}

.title-block{
	margin-bottom: 40px;
}

.price-table{
	margin-bottom: 130px;
}
.aside{
	float:left;
	width:240px;
}

.master-side{
	float:right;
	width:700px;
}
.img-item{
	float:left;
	margin-right:20px;
}

.img-item:nth-child(3n){
	
	margin-right:0px;
}

.img-item{
	background-color:#FFFFFF;
}

.img-item img{
	margin-bottom: 20px;
}

.title-item{
	margin-bottom: 15px;
}

.price{
	width:110px;
	height:43px;
}

.price-item a{
	display:block;
	width:78px;
	height:43px;
}

.block-img{
	margin-bottom: 45px;
}

.pagination li,.pagination a{
	display:inline-block;
	height:43px;
	width:43px;
}


